* {
    /*
    margin: 0;
    padding: 0;
    */
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    margin-top: 10em;
    height: 400px;
    width: 400px;
    border: solid black 0px
}

#input {
    width: 100%;
}

.row {
    display: flex;
    height: calc(100% / 6); 
}

.row button {
    flex: 1;
}